*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

.cabecera{
    width: 100%;
}

.flex-container{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.flex-container > *{
    width: 100%;
}

/* ============= 768px ============= */
@media screen and (min-width:768px) {
.flex-container{
   width: 90%;
}

.flex-container > * {
    width: calc(50% - 20px);
}
}

/* ============= 992px ============= */
@media screen and (min-width:992px){
    .flex-container{
      width: 80%;
    }

    .flex-container > * {
    width: calc(25% - 20px);
}

}

